Flask==0.10.1
Flask-Cors==2.0.0
gnureadline==6.3.3
ipython==3.1.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
numpy==1.9.2
pandas==0.16.0
patsy==0.3.0
python-dateutil==2.4.2
pytz==2015.2
scipy==0.15.1
six==1.9.0
statsmodels==0.6.1
Werkzeug==0.10.4
nose==1.3.6
ipdbplugin==1.4.2
