<div class="overlay" id="header">
	<h3>Affogato: An Analysis of Seattle Bicycle Counter data</h3>
	<p>
	Using public data on bicycle ridership collected continuously at fixed locations we estimate the effect on ridership from introducing a bike share program in certain neighborhoods of Seattle, WA.
	</p><p>
	By using a Differences-in-Differences econometric technique we recover the causal effect of introducing a bike share program in Seattle, WA on ridership at several locations throughout the city. We control for seasonal effects as well as temperature and rainfall.
	</p><p>
 </div>

<leaflet id="mainmap" center="center" layers="layers"></leaflet>

<div ng-show="counter" class="fade overlay" id="analysis">
	<span class="fa fa-3x fa-times-circle pull-left close-button" ng-click="counter = null;"></span>

	<span class="clearfix title" ng-bind="counter.title"></span>
	<p>
		Data source:
		<a target="_blank" ng-href="{{counter.url}}" ng-bind="counter.url"></a>
	</p>
	Inbound:
	<affogato-chart counter="counter" type="raw" field="inbound"></affogato-chart>
	Inbound analysis:
	<affogato-chart counter="counter" type="deseasonalized" field="outbound"></affogato-chart>
	Outbound:
	<affogato-chart counter="counter" type="raw" field="outbound"></affogato-chart>
	Outbound analysis:
	<affogato-chart counter="counter" type="deseasonalized" field="outbound"></affogato-chart>
</div>